*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


.project

.settings/org.eclipse.buildship.core.prefs

core/.settings/org.eclipse.buildship.core.prefs
core/.classpath
core/src/close/
core/*/release/
compose/.settings/org.eclipse.buildship.core.prefs
compose/.classpath
compose/src/close/
compose/*/release/

reports/*
.vscode/settings.json
