*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

library/src/close/

library/*/release/
.project

.settings/org.eclipse.buildship.core.prefs

library/.settings/org.eclipse.buildship.core.prefs

library/.classpath

reports/*
.vscode/settings.json
